<%= form_for(@user) do |f| %>
  <label>Email:</label>
  <%= f.email_field :email, placeholder: 'Email' %><br><br>
  <label>Password:</label>
  <%= f.password_field :password, placeholder: 'Password' %><br><br>
  <label>Confirm Password:</label>
  <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %><br><br>
  <%= f.submit %>
<% end %>
